.dark {
  --md-sys-color-primary: rgb(196 192 255);
  --md-sys-color-surface-tint: rgb(196 192 255);
  --md-sys-color-on-primary: rgb(41 36 116);
  --md-sys-color-primary-container: rgb(56 52 132);
  --md-sys-color-on-primary-container: rgb(211 207 255);
  --md-sys-color-secondary: rgb(198 195 233);
  --md-sys-color-on-secondary: rgb(46 45 76);
  --md-sys-color-secondary-container: rgb(62 60 92);
  --md-sys-color-on-secondary-container: rgb(212 209 248);
  --md-sys-color-tertiary: rgb(255 171 237);
  --md-sys-color-on-tertiary: rgb(85 19 79);
  --md-sys-color-tertiary-container: rgb(103 36 95);
  --md-sys-color-on-tertiary-container: rgb(255 193 239);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(229 225 233);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(230 226 224);
  --md-sys-color-surface-variant: rgb(72 70 75);
  --md-sys-color-on-surface-variant: rgb(202 197 203);
  --md-sys-color-outline: rgb(147 143 149);
  --md-sys-color-outline-variant: rgb(72 70 75);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 226 224);
  --md-sys-color-inverse-on-surface: rgb(49 48 47);
  --md-sys-color-inverse-primary: rgb(88 85 166);
  --md-sys-color-primary-fixed: rgb(227 223 255);
  --md-sys-color-on-primary-fixed: rgb(19 7 96);
  --md-sys-color-primary-fixed-dim: rgb(196 192 255);
  --md-sys-color-on-primary-fixed-variant: rgb(64 60 140);
  --md-sys-color-secondary-fixed: rgb(227 223 255);
  --md-sys-color-on-secondary-fixed: rgb(25 24 54);
  --md-sys-color-secondary-fixed-dim: rgb(198 195 233);
  --md-sys-color-on-secondary-fixed-variant: rgb(69 67 99);
  --md-sys-color-tertiary-fixed: rgb(255 215 242);
  --md-sys-color-on-tertiary-fixed: rgb(57 0 53);
  --md-sys-color-tertiary-fixed-dim: rgb(255 171 237);
  --md-sys-color-on-tertiary-fixed-variant: rgb(112 44 103);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 56);
  --md-sys-color-surface-container-lowest: rgb(15 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(43 42 41);
  --md-sys-color-surface-container-highest: rgb(54 52 52);
  --md-extended-color-orange-color: rgb(255 182 138);
  --md-extended-color-orange-on-color: rgb(82 35 0);
  --md-extended-color-orange-color-container: rgb(181 92 25);
  --md-extended-color-orange-on-color-container: rgb(255 255 255);
  --md-extended-color-green-color: rgb(123 214 203);
  --md-extended-color-green-on-color: rgb(0 55 50);
  --md-extended-color-green-color-container: rgb(25 130 121);
  --md-extended-color-green-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-color: rgb(196 192 255);
  --md-extended-color-purple-on-color: rgb(41 36 116);
  --md-extended-color-purple-color-container: rgb(56 52 132);
  --md-extended-color-purple-on-color-container: rgb(211 207 255);
  --md-extended-color-black-color: rgb(198 198 198);
  --md-extended-color-black-on-color: rgb(48 48 48);
  --md-extended-color-black-color-container: rgb(0 0 0);
  --md-extended-color-black-on-color-container: rgb(150 150 150);
  --md-extended-color-transparent-color: rgb(255 255 255);
  --md-extended-color-transparent-on-color: rgb(56 47 36);
  --md-extended-color-transparent-color-container: rgb(226 210 193);
  --md-extended-color-transparent-on-color-container: rgb(72 62 50);
}
