.dark-high-contrast {
  --md-sys-color-primary: rgb(253 249 255);
  --md-sys-color-surface-tint: rgb(196 192 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(200 197 255);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(253 249 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(202 199 238);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 250);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(255 178 238);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(229 225 233);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(72 70 75);
  --md-sys-color-on-surface-variant: rgb(255 249 255);
  --md-sys-color-outline: rgb(206 201 207);
  --md-sys-color-outline-variant: rgb(206 201 207);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 226 224);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(34 28 110);
  --md-sys-color-primary-fixed: rgb(232 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(200 197 255);
  --md-sys-color-on-primary-fixed-variant: rgb(13 0 89);
  --md-sys-color-secondary-fixed: rgb(232 228 255);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(202 199 238);
  --md-sys-color-on-secondary-fixed-variant: rgb(20 19 48);
  --md-sys-color-tertiary-fixed: rgb(255 221 244);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 178 238);
  --md-sys-color-on-tertiary-fixed-variant: rgb(48 0 45);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 56);
  --md-sys-color-surface-container-lowest: rgb(15 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(43 42 41);
  --md-sys-color-surface-container-highest: rgb(54 52 52);
  --md-extended-color-orange-color: rgb(255 250 248);
  --md-extended-color-orange-on-color: rgb(0 0 0);
  --md-extended-color-orange-color-container: rgb(255 188 148);
  --md-extended-color-orange-on-color-container: rgb(0 0 0);
  --md-extended-color-green-color: rgb(235 255 251);
  --md-extended-color-green-on-color: rgb(0 0 0);
  --md-extended-color-green-color-container: rgb(127 218 207);
  --md-extended-color-green-on-color-container: rgb(0 0 0);
  --md-extended-color-purple-color: rgb(253 249 255);
  --md-extended-color-purple-on-color: rgb(0 0 0);
  --md-extended-color-purple-color-container: rgb(200 197 255);
  --md-extended-color-purple-on-color-container: rgb(0 0 0);
  --md-extended-color-black-color: rgb(251 251 251);
  --md-extended-color-black-on-color: rgb(0 0 0);
  --md-extended-color-black-color-container: rgb(203 203 203);
  --md-extended-color-black-on-color-container: rgb(0 0 0);
  --md-extended-color-transparent-color: rgb(255 255 255);
  --md-extended-color-transparent-on-color: rgb(0 0 0);
  --md-extended-color-transparent-color-container: rgb(226 210 193);
  --md-extended-color-transparent-on-color-container: rgb(0 0 0);
}
