.light-medium-contrast {
  --md-sys-color-primary: rgb(46 41 121);
  --md-sys-color-surface-tint: rgb(88 85 166);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(81 78 158);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(65 63 95);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(115 113 148);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(91 25 84);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(131 61 121);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(28 27 32);
  --md-sys-color-surface: rgb(253 248 247);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(230 225 231);
  --md-sys-color-on-surface-variant: rgb(68 66 71);
  --md-sys-color-outline: rgb(97 94 99);
  --md-sys-color-outline-variant: rgb(125 121 127);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 47);
  --md-sys-color-inverse-on-surface: rgb(244 240 238);
  --md-sys-color-inverse-primary: rgb(196 192 255);
  --md-sys-color-primary-fixed: rgb(111 107 190);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(86 82 163);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(115 113 148);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(90 89 122);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(165 90 152);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(137 66 126);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(221 217 216);
  --md-sys-color-surface-bright: rgb(253 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 241);
  --md-sys-color-surface-container: rgb(241 237 235);
  --md-sys-color-surface-container-high: rgb(236 231 230);
  --md-sys-color-surface-container-highest: rgb(230 226 224);
  --md-extended-color-orange-color: rgb(110 50 0);
  --md-extended-color-orange-on-color: rgb(255 255 255);
  --md-extended-color-orange-color-container: rgb(181 92 25);
  --md-extended-color-orange-on-color-container: rgb(255 255 255);
  --md-extended-color-green-color: rgb(0 76 70);
  --md-extended-color-green-on-color: rgb(255 255 255);
  --md-extended-color-green-color-container: rgb(25 130 121);
  --md-extended-color-green-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-color: rgb(46 41 121);
  --md-extended-color-purple-on-color: rgb(255 255 255);
  --md-extended-color-purple-color-container: rgb(81 78 158);
  --md-extended-color-purple-on-color-container: rgb(255 255 255);
  --md-extended-color-black-color: rgb(0 0 0);
  --md-extended-color-black-on-color: rgb(255 255 255);
  --md-extended-color-black-color-container: rgb(38 38 38);
  --md-extended-color-black-on-color-container: rgb(220 220 220);
  --md-extended-color-transparent-color: rgb(75 65 53);
  --md-extended-color-transparent-on-color: rgb(255 255 255);
  --md-extended-color-transparent-color-container: rgb(127 114 101);
  --md-extended-color-transparent-on-color-container: rgb(255 255 255);
}
